[2018-11-18 14:45] Channilol opened #1 "Add support mangarock"
https://mangarock.com/

[2018-12-11 18:57] Girbons commented on #1
The 0.2.0 has been released, mangarock is now supported 👍

[2018-12-11 18:57] #1 closed

[2018-12-21 02:17] bashfulrobot opened #2 "Exec format error"
Hi there - I was trying to run the release on Ubuntu 18.04 (64 bit), and received:

## Error

[code]

## System

[code]

## File Type
[code]

## Permissions

[code]

Any clues?

[2018-12-21 09:07] Girbons commented on #2
Hi @bashfulrobot,

Thanks for the report 👍

    The releases page does not indicate the platform - is the non-EXE binary Mac only by chance?

I completely forgot to upload the linux binary, I will improve the release section.

    Am I missing something?

I tested the downloader with `https://www.comicextra.com/captain-marvel-2016/chapter-1/full` and it seems that the images links retrieved from t

[2018-12-21 20:32] bashfulrobot opened #3 "Permission Errors"
Ok, I have attempted to use the app in the following way:

[code]

This then resulted in the following error(s):

[code]

And the permissions on the directoies are:

[code]

Am I missing something?

[2018-12-21 20:46] bashfulrobot opened #4 "[Suggestion] - Output to CBR, or CBZ instead of PDF"
I have a suggestion since the tool is just downloading the jpg files anyways, you should allow the tool to output to a `CBR` or `CBZ` file. This is a standard format used by comic readers. These formats are simply a zip file (CBZ) renamed with the `cbz` file extension, or a rar file (CBR) renamed with the `cbr` file extension.

This way people can consume the files within their favourite comic rea

[2018-12-21 20:53] Girbons commented on #3
@bashfulrobot

    Oh. wait. Why is it trying to download from localhost? i.e. - Get
    http://localhost/images/manga/captain-marvel-2016/10/6.jpg: dial tcp 127.0.0.1:80: connect:
    connection refused

That's happening because of readcomics.io which is unreachable, I don't know why it tries with localhost.

    Ok - error likely related to the URL itself. Tried with a new one, and had the follo

[2018-12-21 21:01] #3 closed

[2018-12-23 17:42] Girbons commented on #4
Thank you for the suggestions,

Instead of doing another version we can move the logic out of the MakeComic. We could add a parameter like `-output` then select the correct way to save the file. Anyway If you'd like to work on one of these integrations feel free to do it :)

[2018-12-24 03:57] paranoid73 opened #5 "mangago.net support"
Hello ,
can you add mangago.net support ,
example : http://www.mangago.me/read-manga/the_third_party/mf/iur_chapter-58/pg-1/

[2019-01-03 08:52] Girbons commented on #4
Would be great to have a code review 🙏

I was thinking to reuse the logic inside the [makeEpub()](https://github.com/Girbons/comics-downloader/blob/master/pkg/core/core.go#L185) to create the CBR and CBZ.

[2019-01-29 08:47] Girbons commented on #4
I'm busy too this period, I don't have so much time to dedicate to my personal projects.
I started to work on a refactoring branch that will be the base of the 0.6 version but as I said I didn't have time to complete it.

[2019-03-19 17:43] #4 closed

[2019-03-19 17:47] Girbons opened #8 "Restore mangahere"

[2019-03-19 20:13] bashfulrobot opened #9 "Issue with new cbr/cbz format"
Hi there, when downloading a comic using -format=cbz, the cbz reader reports "no images in zip". So I expanded out the cbz to have a look, and the images are in there, but the file names have random numbers appended behind the `.jpg`. So the reader does not understand.

If I rename them, create a zip file and change the name, I can view the files as intended.

[code]

I have tested with both `cbr`

[2019-03-19 21:25] Girbons commented on #9
Hi @bashfulrobot thanks for the report,

I should have fixed it in the 0.6.1 version, let me know if it is ok

[2019-03-20 07:03] #9 closed

[2019-03-28 12:01] futurevessel opened #10 "Multiple URLs"
First off thanks for this nice tool. If possible, being able to pass multiple URLs to the -url parameter and have them download in a single command is something I would find convenient.

[2019-03-28 17:34] Girbons commented on #10
Hi @futurevessel,

thanks for the suggestion 👍

[2019-03-28 21:06] Girbons commented on #10
@futurevessel I added this in the latest release.
For any kind of problem feel free to reopen this issue.

[2019-03-28 21:06] #10 closed

[2019-04-02 18:40] Girbons commented on #5
I'm unable to reach this site.

[2019-04-03 11:32] paranoid73 commented on #5
http://www.mangago.me now

[2019-04-03 12:22] Girbons commented on #5
The problem with sites like this one is that they have cloudflare protection and I didn't find a library to bypass it

[2019-04-10 17:02] Girbons opened #12 "Create a GUI"

[2019-04-12 08:04] llinaresvicent commented on #5
Hi! What do you think about this one?  [https://github.com/cardigann/go-cloudflare-scraper](https://github.com/cardigann/go-cloudflare-scraper)

[2019-04-12 13:59] Girbons commented on #5
Hi @llinaresvicent,

go-cloudlfare-scraper seems to not be maintained anymore.

[2019-04-13 22:07] Galunid opened #13 "[Question][Possible bug] Where are the files stored?"
Hi, I have the following problem:
[code]
This is the command I used to test this application. It proceeds to download the chapter, but the chapter is nowhere to be seen, after it finishes its execution. Application has necessary privileges. I did a
`find -name *.cbz`, but it failed to find anything. Same happens with pdfs. Also is there an option to download whole manga and not a single chapter? T

[2019-04-14 21:48] futurevessel commented on #13
Can confirm this on Linux, the last version I had was version 0.7 which placed the downloaded files in a directory called 'comics' in the path where you ran the command. I tried all the subsequent releases (0.7.1-0.9.2) and none of them created a directory nor did they store any downloaded files.

[2019-04-15 07:43] Girbons commented on #13
Hey @Galunid and @futurevessel thanks for reporting!

Could you please try the version [0.9.3](https://github.com/Girbons/comics-downloader/releases/tag/v0.9.3) that should fix this issue.

@Galunid, the option to download the whole manga is not available yet.

[2019-04-15 10:38] futurevessel commented on #13
Yep, 0.9.3 is working for me, thanks!

[2019-04-15 13:22] Galunid commented on #13
@Girbons Yup, I can confirm it works. Creates new dir and puts downloaded file there. Are there any plans to add downloading whole comics?

[2019-04-15 16:19] Girbons commented on #13
Thanks @futurevessel  @Galunid  🙏

@Galunid Yes, but I don't know when it will be available.

[2019-04-15 16:21] Girbons opened #14 "Download whole manga/comic"

[2019-04-25 18:20] jphager2 commented on #8
Do you really want to? It seems like mangahere is a clone of mangatown.

[2019-04-29 07:47] Girbons commented on #8
Well, Let's close it then.

[2019-04-29 07:47] #8 closed

[2019-05-02 08:08] Girbons commented on #14
Closed #15

[2019-05-02 08:08] #14 closed

[2019-05-02 08:34] Girbons commented on #13
Hey @Galunid,

its now possible to download the whole comic!

[2019-05-02 08:42] #13 closed

[2019-05-02 13:56] Girbons opened #16 "Add --version/-version to know the downloader version"

[2019-05-03 00:46] Galunid commented on #13
Damn, that's great! Thanks @Girbons

[2019-05-03 14:12] #16 closed

[2019-05-07 19:16] #12 closed

[2019-05-10 09:53] Girbons opened #19 "path option"
User should be able to specify where the comics should be downloaded.
~This option should be included even in the config file.~

[2019-05-10 09:55] Girbons opened #20 "Version is not included in GUI"
The GUI version should display the latest version of the downloader.

[2019-05-10 09:57] Girbons opened #21 "Windows app should not open cmd"
To avoid that include `-ldflags -H=windowsgui` to the build command.

[2019-05-11 16:54] trosel opened #22 "If Fyne doesn't work out, Wails is a good option"
https://wails.app/

It allows you to build the front end with html/css/javascript _without_ Electron.

You basically expose you `getManga` method to the front end and the javascript links into that with `backend.Manga.getManga()` or something.

[2019-05-13 09:51] Girbons commented on #22
Thank you @trosel! I'll take that into consideration, I'll stick to fyne for now anyway since I'm also contributing to it. :)

[2019-05-13 13:42] #22 closed

[2019-05-17 13:28] ilmanzo opened #23 "build error"
[code]

[2019-05-17 15:23] Girbons commented on #23
Seems like you have on old version of `github.com/Girbons/comics-downloader/`.

Are you working on `github.com/Girbons/comics-downloader/` or in `github.com/ilmanzo/comics-downloader/`?

[2019-05-17 15:26] ilmanzo commented on #23
yes, sorry my fault :)  I just had an old version in $GOROOT

[2019-05-17 15:26] #23 closed

[2019-05-17 15:51] ilmanzo commented on #20
I guess you need to change the GUI build process, in order to be able to pass -ldflags option in the "go build" command ...

[2019-05-18 13:03] Girbons commented on #20
I opened a PR for that https://github.com/lucor/fyne-cross/pull/2

[2019-05-20 09:20] Girbons commented on #20
@ilmanzo are you gonna work on this?

[2019-05-20 16:44] ilmanzo commented on #20
No, sorry but due to lack of free time currently I'm not working on this.

Il lun 20 mag 2019, 11:20 Alessandro De Angelis <notifications@github.com>
ha scritto:

[2019-05-20 17:00] Girbons commented on #20
Ok, I'll take this.

[2019-05-23 08:27] #20 closed

[2019-05-23 08:30] Girbons commented on #21
solved in [0.12](https://github.com/Girbons/comics-downloader/releases/tag/v0.12)

[2019-05-23 08:31] #21 closed

[2019-05-26 15:21] SeNeO opened #24 "Add option to check if chapter exists before downloading"
First thanks for all the work on this project.

It could be usefull to add an option to check if the chapter doesn't exist in the download directory. It would allow user to use the `-all` option to download new chapter of the comic without re-downloading the previous ones.

[2019-05-27 10:44] Girbons commented on #24
Hi @SeNeO thanks for the feedback 🙏 ,

Yes it is very helpful to add a check option for existent chapters 👍.

[2019-05-30 14:32] nestukh opened #25 "not working on rapsberry pi"
in fact. it returns
`-sh: ./comics-downloader: cannot execute binary file: Exec format error`
I believe you've compiled the linux version for amd64, right?

it would be nice having `comics-downloader` for standard raspian on a raspberry pi. Just with a daily cron script, a bit of bash/python & a syncthing folder, you can have manga issues delivered to your GUI device of choice automatically

Aweso

[2019-05-30 15:38] nestukh opened #26 "pages downloaded from mangarock.com are cut in the final pdf"
example
https://mangarock.com/manga/mrs-serie-107406/chapter/mrs-chapter-107407
on page 11 in the pdf you cannot read the bottom text, there are no problem reading the same page online

[2019-05-31 08:11] Girbons commented on #25
Hi @nestukh thanks 🙏,

Yes the linux version is compiled for amd64.

Nice idea 👍, could you please check if the [raspbian](https://github.com/Girbons/comics-downloader/releases/download/v0.12/comics-downloader-raspbian) version works?

[2019-05-31 08:22] nestukh commented on #25
still getting
`-sh: ./comics-downloader-raspbian: cannot execute binary file: Exec format error`
I guess you'll need a raspberry pi zero w kit as dev platform, or an old raspi2 from ebay at least
It's not a priority, personally I can wait

[2019-05-31 08:41] Girbons commented on #25
Try with [this](https://github.com/Girbons/comics-downloader/releases/download/v0.12/comics-downloader-raspbian-arm).

[2019-05-31 09:01] nestukh commented on #25
it works, yes!
it's kind of heavy, ps reports as CPU usage 106% and as ram usage 15.3% (on a quadcore raspi3b), which is more than an instance of firefox-esr with selenium and python (CPU 29.8%, ram 32.0%)
anyway perfect, I'm closing this issue

[2019-05-31 09:01] #25 closed

[2019-05-31 09:16] Girbons commented on #25
@nestukh one last question, are you using the PDF format right?

[2019-05-31 09:17] nestukh commented on #25
yes

[2019-05-31 09:19] Girbons commented on #25
Switching the format are the performance the same?

[2019-05-31 09:27] nestukh commented on #25
epub
rise up to CPU 97.9  RAM 4.6 (starts at 88% CPU)

cbr
CPU 105  RAM 4.1

cbz
CPU 102  RAM 4.1

I'm using this oneliner
`./comics-downloader-raspbian-arm -url=https://mangarock.com/manga/mrs-serie-107406/chapter/mrs-chapter-107407 -format=cbz`

[2019-05-31 09:54] Girbons commented on #25
I need to profile the downloader then.

thanks @nestukh!

[2019-06-01 15:59] #26 closed

[2019-06-01 21:14] nestukh opened #27 "example of bash script on a raspberry pi for checking mangas"
becasue github is stupid and there isn't a 'suggestion box and related stuff' for projects (outside source repos), or even private messages
so this is not a real issue, just an example for anyone interested, maybe to add to the wiki or whatever
completed with commented install instructions and general tips for raspbian
https://gist.github.com/nestukh/5397b836c8e5f34f6feb4ec4efe6b86a

[2019-06-01 21:14] #27 closed

[2019-06-01 23:47] nestukh opened #28 "cannot save file with invalid characters in filename"
a minor issue

eg
https://mangarock.com/manga/mrs-serie-358279/chapter/mrs-chapter-100420585
brings
`ERRO[0013] open comics/mangarock.com/One Punch-Man/Vol.TBD Chapter 102: Sweet Mask [New/Revised].pdf`

In fact, in linux "`/`" in this filename is an invalid character
suggestion: replacing all invalid chars with "`_`" (underscore)

this problem is present with epub output and other format as well,

[2019-06-02 11:33] nestukh opened #29 "double page panels are squeezed horizontally, compared to online version"
eg
https://mangarock.com/manga/mrs-serie-114471/chapter/mrs-chapter-100341810
pages 2 and following

[2019-06-03 07:59] #28 closed

[2019-06-03 09:03] Girbons commented on #27
@nestukh thanks!

I can grant to you the permissions to write the wiki section if you'd like to 😄

[2019-06-03 09:12] nestukh commented on #27
thank you I appreciate it, but that's not necessary
you can put a link to it or copypaste it

[2019-06-03 09:39] Girbons commented on #27
Yes I will.

Eitherway I was thinking to introduce this functionality by default using the config file.

something like:
[code]

@nestukh let me know what maybe could be useful

[2019-06-03 10:09] nestukh commented on #27
I guess stuff on [the Board](https://github.com/Girbons/comics-downloader/projects/1#card-21327554) is enough
A deamon is probably good for people who use comics-dowloader directly on their pc/laptop, especially for not-that-much-tech-savvy people ([on average 70% of humans](https://jaxenter.com/wp-content/uploads/2016/11/Screen-Shot-2016-11-18-at-3.29.09-PM.png), but perhaps manga readers are a s

[2019-06-03 12:37] Girbons commented on #27
@nestukh thanks for the feedbacks,

Maybe before providing a deamon I need to reduce the overhead of the downloader, I should already have reduced resources utilization but I guess that's not enough yet.

[2019-06-03 13:02] nestukh commented on #27
maybe is resource-intesive but that's ok, it isn't intended to real-time usage

[2019-06-03 13:08] nestukh commented on #29
I would like to add
personally, I would prefer keeping original double page panels than cutting them in half, as mangas can be printed in international version (left to right) or in the original right to left script. Too much confusion otherwise.
Just like you read them online, in short

[2019-06-03 14:58] Girbons commented on #29
I agree with you.

Just like you read them online, in short

Its not easy to achieve with EPUB, I mean to make a manga readable from right-to-left,  the only thing that I can do is to create the EPUB from the last page to the first one.

[2019-06-03 15:46] nestukh commented on #29
it it possible to have
- normal portrait A4 pages for single panel pages
- landscape A4 pages for double panel pages (not 90° rotated text)
?
(I've seen the commit but didn't compile yet, have to learn golang first, just seemed all A4 landscape pages now, I cannot tell if I'm correct)

for epubs, maybe it's better to integrate [`ebook-convert`](https://manual.calibre-ebook.com/generated/en/ebook-c

[2019-06-03 17:51] Girbons commented on #29
normal portrait A4 pages for single panel pages
    landscape A4 pages for double panel pages (not 90° rotated text)
    ?
    (I've seen the commit but didn't compile yet, have to learn golang first, just seemed all A4 landscape pages now, I cannot tell if I'm correct)

The problem is, how to distinguish single panel pages from double panel pages?

 ebook-convert file.pdf file.epub
 (there is als

[2019-06-03 21:44] nestukh commented on #29
I think `gofpdf` isn't good for complex cases, probably
a possible solution to multiple problems:
I've seen in the code that `comics-downloader` donwloads all images for CBR/CBZ formats
So you can use [ImageMagick](https://imagemagick.org/index.php) tools, [poppler pdf](https://poppler.freedesktop.org/) tools, ~~[PDFtk](https://www.pdflabs.com/tools/pdftk-the-pdf-toolkit/)~~ [PDFcpu](https://pdfcp

[2019-06-03 22:10] nestukh commented on #29
it's ok, I know it's a lot to read, you don't have to fix this that soon, I can wait without problems, it's already great that works well enough already

[2019-06-04 12:27] nestukh commented on #29
I just checked
it's easier the previously stated
there is no cbz or cbr format mention on ebook-convert page, but there are the Comic Input Options
https://manual.calibre-ebook.com/generated/en/ebook-convert.html#comic-input-options

this command will convert a cbz file into a P A4 pdf file, landscape images scaled to fit vertical A4 pages
`ebook-convert manga.cbz manga-portraitA4.pdf --disable-tr

[2019-06-04 18:01] Girbons commented on #29
@nestukh thanks for digging deeper,

 convert *.* foo1.pdf

This is the command of which mentioned library?

It's such a great thing to use `ebook-converter`, we need to discuss how, because I want to keep the downloader simple, without forcing users to download extra dependencies.

So the workaround could be:
- extract specific python functions (from `ebook-converter`) to do what we need, its not

[2019-06-04 20:29] nestukh commented on #29
I've tought about it

The simpler way would be:
`comics-downloader` saves a manga issue as:
- png/jpg from 0001.png to 9999.png in a folder with the same name as the issue
- as cbz or cbr with the same name as the issue, as it already does _(P.S. I've noticed same issue with '`/`' on linux with cbz filenames)_
.
.
then in the wiki, you add few commands for post procressing:
- from images to pdf (w

[2019-06-04 20:30] nestukh commented on #29
If you think the same, you can close the issue

[2019-06-05 08:08] Girbons commented on #29
@nestukh I got your point but the downloader was developed to create the final file and I don't want to change this behaviour and force the user to run extra commands.

Could you give me an example url in order to reproduce it?

[2019-06-05 08:15] nestukh commented on #29
https://mangarock.com/manga/mrs-serie-358279/chapter/mrs-chapter-100420585

[2019-06-08 09:31] Girbons commented on #24
Hi @SeNeO,

This should be solved in v0.12.3.

[2019-06-08 09:31] #24 closed

[2019-06-08 09:36] Girbons commented on #29
@nestukh v0.12.3 includes the fix for this

[2019-06-08 09:42] nestukh commented on #29
thank you
my bash script is already updated to update `comics-downloader` automatically

[2019-06-21 22:18] bashfulrobot opened #30 "Output File name option"
Currently, the app outputs files with a name such as:

[code]
Sitting in a folder something like `/home/user/path/to/comics/www.site.com/comic-name`.

It would be great if the output name was `comic-name-0001.cbz`. The reason is then the sorting in a directory of large comics is displayed properly (say you had something like Action COmics that is over issue 1000). And the other reason for the file

[2019-06-21 22:21] bashfulrobot opened #31 "Last Issue option"
Currently, the tool has an `-all` option. It would be really great if there was a `-last` option which would simply download the last issue. And if the tool was intelligent enough to test for the existence of the file, you could easily add this to a cron job to check for the latest issue and auto download (if you defined everything in a shell script) as things become available.

[2019-06-22 10:16] Girbons commented on #31
Hi @bashfulrobot,

There is already a check for file existency https://github.com/Girbons/comics-downloader/blob/master/pkg/sites/loader.go#L29.

[2019-06-24 09:43] Girbons commented on #31
Yes of course, anyway I don't know if a `--last` option is useful at all, because you can do a shell script that runs as deamon with `--all` option enabled and the trick is done.
Maybe a deamon parameter could be useful?

[2019-06-24 10:22] #30 closed

[2019-06-25 07:30] Girbons commented on #31
Makes sense, I'm going to add the `--last` option.

[2019-06-25 07:34] Girbons commented on #30
There was a problem with filename ordering.

[2019-06-27 08:34] Girbons commented on #31
@bashfulrobot could you please try out the [v0.13-alpha](https://github.com/Girbons/comics-downloader/releases/tag/v0.13-alpha)?

[2019-06-28 18:54] #31 closed

[2019-07-07 06:24] ishands opened #33 "Fails to download chapters which have a . in the name"
[code]

I faced an issue while trying to download Chapter 13.5
1. It was saved without a .pdf extension
2. It was 0 bytes in size
3. Other chapters all downloaded fine

[2019-07-10 17:01] #33 closed

[2019-07-10 17:22] Girbons commented on #33
Hey @ishands,

thanks for reporting, a fix is available in the [new version](https://github.com/Girbons/comics-downloader/releases/tag/v0.14.1)

[2019-07-12 11:52] satishbabariya opened #34 "Download comic as images inside respective folders"
Download comic as images inside respective folders like **mangarock.com/naruto/cp-01/1.img** ...

[2019-07-12 12:29] Girbons commented on #34
Hi @satishbabariya,

Basically, you are asking to keep the downloaded images alongside the pdf or whatever the final file format is?

[2019-07-12 12:34] satishbabariya commented on #34
yeah.

[2019-07-12 12:36] satishbabariya commented on #34
options like,
[code]

[2019-07-12 14:19] Girbons commented on #34
@satishbabariya  What do you think about something like 2 parameters like `--only-images` used alongside `--images-format`?

[2019-07-12 15:19] satishbabariya commented on #34
@Girbons, that would be great,  also `--images-format` can have a default value if not given?
and `--only-images` will not create pdf's right?

[2019-07-12 15:49] Girbons commented on #34
@satishbabariya  Just the images, no PDF.
As default Image format I was thininking about png.

[2019-07-12 16:01] satishbabariya commented on #34
@Girbons :thumbsup:

[2019-07-12 18:46] Girbons commented on #34
@satishbabariya if you want to try out this branch feel free to do it, would be nice to have a feedback!

I need to fix few things in the GUI then I will release the 0.15.

[2019-07-13 06:06] satishbabariya commented on #34
@Girbons sure, though not working when passing -url flag with multiple or single urls
[code]

[2019-07-13 13:47] satishbabariya commented on #34
@Girbons, wouldn't it better to download the images directly to the respective folder `comics/mangarock.com/Solo Leveling` rather than using temp dir

[2019-07-15 10:16] Girbons commented on #34
Yes, its a good idea, I need to refactor that part.

Yes, right now there aren't checks to see if there is already an image folder.

[2019-07-22 17:00] #34 closed

[2019-07-24 18:21] #5 closed

[2019-09-16 14:23] WasdeAsde opened #36 "Add Mangadex Support"
https://mangadex.org/

Would be nice if you could add support for this

[2019-09-19 08:58] #36 closed

[2019-09-23 23:27] bashfulrobot opened #37 "Alternate provider"
Do you plan to add any alternative providers to comicextra? Sometimes certain issues are missing. Could be a good idea to be able to specify a backup URL if an issue is missing.

Just an idea.

[2019-09-26 08:37] Girbons commented on #37
What provider do you suggest as alternative to comicextra?

[2019-10-02 10:06] Girbons commented on #37
https://readcomiconline.to/ is protected by cloudflare and the package to solve the cloudflare challenge is not maintained anymore.

[2019-10-03 07:56] Girbons commented on #37
Thank you @bashfulrobot, the suggestion is appreciated 🙏, while I was porting the project from python to go I had in mind to support https://readcomiconline.to/, but it wasn't possible due to https://github.com/cardigann/go-cloudflare-scraper that seems to be abandoned.
I'll have to make a fork and fix it but currently I don't have the time.

I'm going to keep this ticket open 👍

[2019-10-11 09:57] #19 closed

[2019-10-29 07:54] Church- opened #39 "Question on behavior of downloader"
Does this currently support the ability to check if issues are already downloaded when using say `-all` and skipping them instead of re-downloading?

[2019-10-29 09:45] Girbons commented on #39
Hi @Church-

Yes, the downloader checks if an issue already exist and should prevent the re-download.

[2019-10-31 08:39] styygeli opened #40 "specifying -format cbr creates a zip instead"
When executing with `-format cbr` flag, it should create a .cbr file, rar compressed. Instead the utility creates a zip compressed file with a .cbr extension.

[code]

[2019-11-08 09:33] Girbons commented on #40
Hi @styygeli,

Thanks for reporting. In the morning I'll try to address this issue.

[2019-11-08 09:56] #39 closed

[2019-11-29 20:31] Church- opened #41 "Question on mangadex behavior"
So when attempting to download all issues of a manga off mangadex say via
[code]
It will return
[code]

What exactly is the correct method to download all issues for a manga on magadex then? I assumed -all would be supported.

[2019-12-02 09:33] Girbons commented on #41
Hi @Church-,
I'm sorry but `all` and `last` parameters are not supported for mangadex. My bad, README is not explicit about that.

[2019-12-09 11:40] #41 closed

[2019-12-27 20:12] PreownedFIN opened #44 "panic: runtime error: invalid memory address or nil pointer dereference"
Hi!

I encountered this error when downloading _many_ chapters at once.
This particular one got up to 65 chapters, on other 'runs' it would panic somewhere between 30-50 chapters.

Here's the command I used:
`.\comics-downloader.exe -url https://mangadex.org/title/22369/jahy-sama-wa-kujikenai -output "T:\Manga\Jahy-sama Won't Be Discouraged!" -format epub`

(The output is on a mapped network drive

[2020-01-02 11:53] Girbons commented on #44
Hi @PreownedFIN,

Thanks for reporting!

It fails after a while or with a specific chapter?

[2020-01-09 11:32] futurevessel opened #45 "Mangadex no longer working"
Just putting it here in the hopes that this great application hasn't been abandoned. Mangadex naturally no longer working after moving to a new host and address.

[2020-01-09 13:35] Girbons commented on #45
Hi @futurevessel,

We are going to ship a fix soon!

[2020-01-09 17:20] Girbons commented on #45
solved by [v0.19.1](https://github.com/Girbons/comics-downloader/commits/v0.19.1)

[2020-01-09 17:20] #45 closed

[2020-01-09 18:59] #40 closed

[2020-01-10 13:38] Girbons opened #46 "Mangarock will be shutdown"
Remove support for mangarock.

[2020-01-10 13:39] Girbons opened #47 "Comicextra not working"
comicextra has introduced cloudflare protection.

[2020-01-10 15:00] Girbons commented on #46
removed in [v0.20.0](https://github.com/Girbons/comics-downloader/releases/tag/v0.20.0)

[2020-01-10 15:00] #46 closed

[2020-01-16 20:13] bake opened #48 "MangaDex: Revert to .org"
Hi, MangaDex' .cc domain was only a temporary solution, it's back on .org. It might be a good idea to revert e1223aa625113117e9068fc18c46a360ce46c613 and/or add .cc and .org to the list of supported domains. In the same commit, you accidentally [removed a slash](https://github.com/Girbons/comics-downloader/commit/e1223aa625113117e9068fc18c46a360ce46c613#diff-c0487b158008a80a660f6538bef3bef4L59) :)

[2020-01-17 08:27] #48 closed

[2020-01-20 13:17] Kevman323 commented on #44
I'm finding the same bug. Randomly crashes with the same bug. When this happens, it leaves a 0kb jpg file in the images folder, which luckily gets re-downloaded and fixed when the script is run again.

It's probably the same, but here's my log.

`/home/mainuser/apps/comics-downloader/comics-downloader --all -country gb -format cbr -output "/home/mainuser/storage/local" https://mangadex.org/title/3

[2020-01-21 09:04] Girbons commented on #44
Sorry guys for the delay, I probably have found a possible fix that I'm going to release soon.

[2020-01-21 18:37] Girbons commented on #44
@PreownedFIN @Kevman323 could you please try this [version](https://github.com/Girbons/comics-downloader/releases/tag/v0.21.1-alpha)?

[2020-01-24 14:21] #44 closed

[2020-01-28 11:45] MrTyton opened #50 "Language Filter"
Can't seem to get the country/language filter working on mangadex.org. No matter what the input, always gives the error 'no chapters found'

ex url: https://mangadex.org/title/35064/i-m-a-villainous-daughter-so-i-m-going-to-keep-the-last-boss

ex countries tried: US, USA, English, En, en/US, en_US, Ru, Russia, Japan

[2020-02-02 19:45] Girbons commented on #50
@MrTyton try to use the country in lowercase eg `gb`.

[2020-02-07 23:51] turtletowerz commented on #50
Mangadex uses ISO 3166-1 languages codes, a list of them can be found [here](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Just look in the left-most column and make sure it's lowercase when you put it into the command

[2020-02-08 13:19] Girbons commented on #50
Thanks @turtletowerz, We should add this in the readme

[2020-02-08 19:10] turtletowerz commented on #50
I'd be happy to create a PR for it. It's unfortunate they use this though because it's not as well known and took me forever to find!

[2020-02-08 20:56] #50 closed

[2020-02-24 00:29] dykn opened #52 "Error downloading from MangaDex using latest release"
INFO[0000] Downloading...                                url="https://mangadex.org/title/907/i-am-a-hero"
ERRO[0530] could not get chapter 511880: could not decode response: invalid character '<' looking for beginning of value

Tried multiple different mangas/URLs.

Thanks.

[2020-02-24 15:16] Girbons commented on #52
Hi @dykn, I'll take a look asap!

[2020-03-02 16:18] Girbons commented on #52
@dykn I think that its not related to the tool itself but at some point the magadex server starts to throttle the requests.

@bake what do you think about it?

[2020-03-03 23:51] dykn commented on #52
Is it possible it's an IP address block/ban?  The VPS it's on doesn't have an option for a seconday/dynamic IP address, so I don't really have a way of knowing for sure.  The error has persisted for over a week now, so I'm just making that assumption at this point.

[2020-03-04 14:31] Girbons commented on #52
I guess so, the error is due to a
[code]
where Body is not a json.

I'll check what is inside Body when this happen but I suppose that there's html inside.

[2020-03-04 22:39] bake commented on #52
Thank you for the mention! I think you're right, @Girbons, I'll add an additional error check tomorrow.

[2020-03-05 09:40] Girbons commented on #52
Thank you, it could be helpful.

[2020-03-05 19:38] bake commented on #52
Please try the latest commit. It only decodes if the status is OK and shows the message otherwise. While testing, I got 503. This reports a HTML page with the message "Please stop spamming the server", however the client replies with the default message of "Service Unavailable".

[2020-03-06 09:18] Girbons commented on #52
Thanks @bake, I'm going to try it out.

[2020-03-07 20:07] dykn commented on #52
Newest error, using latest release:

`./comics-downloader -url="https://mangadex.org/title/45112/tensei-kenja-wa-musume-to-kurasu" -format=cbz
INFO[0000] Downloading...                                url="https://mangadex.org/title/45112/tensei-kenja-wa-musume-to-kurasu"
ERRO[0000] could not unmarshal manga 45112: json: invalid number literal, trying to unmarshal """" into Number`

[2020-03-07 20:56] bake commented on #52
I've just tested it and got the same error. However, using the client directly works:

[code]

[2020-03-07 22:21] Girbons commented on #52
I'll take a look tomorrow on this, also noted that is the same error that I get while running tests on mangadex.

[2020-03-07 22:43] bake commented on #52
FWIW it doesn't work for me with v0.21.2 but it does when I `go run` the program directly.

[2020-03-08 11:15] Girbons commented on #52
Same error while running the client directly <img width="995" alt="Screenshot 2020-03-08 at 12 12 58" src="https://user-images.githubusercontent.com/5927088/76161715-34315d00-6136-11ea-8aba-aa8c09810123.png">

[2020-03-08 11:32] bake commented on #52
Might have something to do with MD using Cloudflare again. Could you please try to save the response? With something like [httpcache](https://github.com/bake/httpcache):

[code]

[2020-03-08 13:26] Girbons commented on #52
The response seems to be ok:
[code]

[2020-03-08 13:58] bake commented on #52
There seems to have been [a breaking change in Go 1.14](https://golang.org/doc/go1.14#encoding/json) which disallows invalid (in this case missing) numbers in `json.Number`. I currently don't have the time to decide and upgrade to `int64`, `string`s or a custom type. This also requires breaking changes in the library. There will be an update during the next week and for now you could use 1.13 to b

[2020-03-08 15:27] bake commented on #52
Please try the new commit.

[2020-03-08 17:00] Girbons commented on #52
Going to try the new commit thanks!

[2020-03-08 17:49] Girbons commented on #52
Hey @bake thanks a lot, It works, I'm going to release a new version

[2020-03-08 18:35] Girbons commented on #52
v0.21.3 released

[2020-03-08 18:35] #52 closed

[2020-03-10 11:44] #29 closed

[2020-03-10 11:44] #37 closed

[2020-03-12 18:06] #47 closed

[2020-03-13 23:18] bashfulrobot opened #53 "Error on new download - comicextra"
## Version

[code]

[code]

## Command

[code]

## Error

[code]

Thank you.

[2020-03-13 23:26] Girbons commented on #53
Hey @bashfulrobot,
I guess that this comic has all the issues in page right?

[2020-03-14 11:28] Girbons commented on #53
released [v0.22.1](https://github.com/Girbons/comics-downloader/releases/tag/v0.22.1)

[2020-03-14 11:28] #53 closed

[2020-04-04 13:11] Arrowerse2001 opened #54 "Separate by comma"
Using multiple urls for https://www.comicextra.com doesn't download them. Need to have one url at a time.

[2020-04-04 13:46] Girbons commented on #54
Hi @Arrowerse2001,

Thanks for reporting, I'll check asap!

[2020-04-04 17:35] Arrowerse2001 commented on #54
Thanks, it's the windows gui it does it on.

[2020-04-07 22:08] sydrawat opened #55 "Mangatown download ERROR 0024"
<img width="809" alt="Screenshot 2020-04-08 at 03 33 36" src="https://user-images.githubusercontent.com/22128987/78723914-f3ea1800-7949-11ea-8d0d-4995e8484616.png">

There seems to be an error (somewhat like 0024) and says GET from a particular URL has unsupported protocol scheme.

I've attached a screenshot of the same.

It says "downloading...", but after a few seconds, I get the error message.

[2020-04-07 22:10] sydrawat commented on #55
Could it be a problem from mangatown's side?

[2020-04-08 06:43] sydrawat commented on #55
Says "Couldn't perform GET request to [url](http://www.mangatown.com/manga/shingeki_no_kyojin/c128/1.html)"

<img width="911" alt="Screenshot 2020-04-08 at 12 11 35" src="https://user-images.githubusercontent.com/22128987/78752706-30d9fd00-7992-11ea-9d88-16a575a2f5dc.png">

[2020-04-08 07:29] Girbons commented on #55
Hi @sydrawat,

It seems that the `http` protocol is missing while performing the GET request on the image URL, in the first attached screenshot there's `unsupported protocol scheme ""`.
So the error might be here https://github.com/Girbons/comics-downloader/blob/master/pkg/sites/mangatown.go#L41-L47.

[2020-04-08 15:21] #55 closed

[2020-04-09 09:08] Girbons commented on #55
@sydrawat a new release will be available by the end of the week.

[2020-04-11 14:08] #54 closed

[2020-04-11 14:25] Girbons commented on #55
@sydrawat Released [v0.22.2](https://github.com/Girbons/comics-downloader/releases/tag/v0.22.2)

[2020-04-11 14:26] Girbons commented on #54
@Arrowerse2001 Released [v0.22.2](https://github.com/Girbons/comics-downloader/releases/tag/v0.22.2)

[2020-04-14 16:04] TranKovak opened #56 "runtime error on -all argument with a supported website"
**Describe the bug**
Hello, I got a `panic: runtime error: index out of range [4] with length 4`
when I try to download all the issue of a manga on mangareader.net
I can download specific issue but not all. I tried with 2 different manga.
maybe I use it wrongly.

**To Reproduce**
On widows 10 with the command
`comics-downloader.exe -all -format=cbz -url=http://www.mangareader.net/akira`
or
`comics

[2020-04-14 16:16] Girbons commented on #56
Hey @TranKovak thanks for the report.

I will take a look asap

[2020-04-14 23:09] TranKovak commented on #56
in the read me you say
`Provide the comic url and use the -all flag. The url provided can be any issue of the comic, or the main comic page url.`

so I retried with this command
`comics-downloader.exe -url=http://www.mangareader.net/akira/1 -timeout 180 -format=cbz -all`
and its downloading all the issue, so it's juste the case where we provide only the main comic/manga page url that doesn't work.

[2020-04-15 07:15] Girbons commented on #56
It should even work by providing the main comic page url, that's a thing to fix.
Also `timeout` parameter works only if `daemon` is set otherwise it does nothing, I should improve the readme.

I really appreciate that, thank you! :)

[2020-04-20 20:42] sydrawat opened #57 "SIGSEGV segmentation fault with runtime error : MANGATOWN"
**Describe the bug**
Runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x8 pc=0x1375265]

**To Reproduce**
Steps to reproduce the behavior:
Running the cmd:
./comics-downloader -url=https://www.mangatown.com/manga/monster/v01/c001

**Expected behavior**
Manga to be downloaded successfully.

**Screenshots**
<img width="809" alt="S

[2020-04-20 21:16] Girbons commented on #57
Hi @sydrawat thanks for reporting,
try with the latest release, there was a fix related to mangatown

[2020-04-21 07:10] sydrawat commented on #57
Hi @Girbons it doesn't seem to be working with v0.22.2 as well. It throws a GET error.
<img width="799" alt="Screenshot 2020-04-21 at 12 39 27" src="https://user-images.githubusercontent.com/22128987/79836009-45c08280-83cd-11ea-86d8-ac30b259c52f.png">

[2020-04-21 07:15] sydrawat commented on #57
I

It seems to be going to [v18/c162](https://www.mangatown.com/manga/monster/v18/c162/) instead of [v01/c001](https://www.mangatown.com/manga/monster/v01/c001/).

[2020-04-21 12:51] Girbons commented on #57
@sydrawat so it is working using another chapter?

[2020-04-21 15:08] sydrawat commented on #57
Nope. After updating to v0.22.2, the SIGSEGV errors are gone, but GET errors are still present.
And for some reason, the URL keeps redirecting to a different one everytime.

**This happens only with Mangatown**. Every other supported site works just fine. I tried downloading a couple of different mangas apart from monster as well(Mangatown), same problem: URL redirects to a different one and then

[2020-04-21 21:55] jwhittaker opened #58 "comicextra -all flag is not using issueNumber on the output filename"
**Describe the bug**
The chapter (aka issues) are overwriting each other's output files. Every file is named the same `xyz.cbz` in the same directory.

The `issueNumber` is not being included in the output filename. This causes the next chapter's `.cbz` or `.pdf` file to override previously completed one because the destinations are always the same.

**To Reproduce**
[code]

**Expected behavior**

[2020-04-22 07:12] sydrawat commented on #58
Same issue with the `-all` flag in mangadex as well.

[2020-04-22 07:54] Girbons commented on #58
@jwhittaker thanks for the report and for digging through

I'm going to do a release in the morning, I have discovered why this is happening.

[2020-04-22 08:04] Girbons commented on #57
I need to investigate on this

[2020-04-22 08:10] #58 closed

[2020-04-24 06:02] jwhittaker opened #59 "comicextra fails -all if there are some missing issues in a series"
**Describe the bug**
`-all` flag crashes the program **if** there is a missing issue inbetween.

**To Reproduce**

[code]

Once it reaches a chapter page with no image files, the program completely exits with this error:

[code]

**Expected behavior**
The program would skip that chapter and move on to the next one until the list is exhausted. The program starts comicsextra at the latest chapter wh

[2020-04-24 07:48] Girbons commented on #59
Hi @jwhittaker, thanks for reporting!

I'll take a look asap

[2020-05-13 17:37] Girbons commented on #59
Hey @jwhittaker,

could you please give me an example url?

[2020-05-15 07:22] Girbons commented on #57
Hey @sydrawat,

sorry for the late response, the issue is caused by the pop-up image that needs to be closed.

[2020-05-20 10:27] sydrawat commented on #57
Hey @Girbons! Thanks for the update. Do you mean the loading gif? Because I didn't get any pop-up image on the [URL](https://www.mangatown.com/manga/monster/v01/c001).

[2020-05-22 09:31] Girbons commented on #57
When I tried to understand what was going on, a pop image was displayed at first.
Anyway I'll try to check again this weekend and see if I can solve this issue.

[2020-05-26 06:41] Girbons commented on #59
Hey @bashfulrobot, thanks for reporting and giving an example url, I'll try to look into it soon

[2020-05-27 09:45] Girbons commented on #59
@bashfulrobot it worked for me, which version are you using?

[2020-05-28 19:08] Girbons commented on #59
@bashfulrobot you're welcome!

[2020-05-31 09:06] ProgrammingJack commented on #59
@Girbons I have the same error. With version `v0.22.3`.

[code]

It starts downloading one image `comics/www.comicextra.com/walt-disneys-comics-and-stories/images-chapter-743/0000-image.jpg`, and then crashes. The file is completely empty (0 bytes).

[2020-05-31 09:09] ProgrammingJack commented on #59
Btw, a `-issue` option would be nice. Some series, like the one above ^, have way to many issues, and sometimes you only want one specific.

[2020-05-31 09:59] Girbons commented on #59
Hi @ProgrammingJack,

The tool already do that, you need to pass the issue url and omit the `-all` parameter.

Thanks for reporting this issue I will investigate soon!

[2020-05-31 10:04] ProgrammingJack commented on #59
Then there must be also some other bug. ` ./comics-downloader -format cbr https://www.comicextra.com/walt-disneys-comics-and-stories/chapter-73` only downloads the first page, not the complete issue.

[2020-05-31 10:57] Girbons commented on #59
@ProgrammingJack

The tool behviour is right in this case, because you are asking to download only one page.

Ask for the complete issue by specifying `/full` - `https://www.comicextra.com/walt-disneys-comics-and-stories/chapter-73/full`

[2020-06-05 18:02] Girbons commented on #57
@sydrawat Try to append a `/` at the end of the URL

[2020-06-05 18:03] #57 closed

[2020-06-05 18:12] #59 closed

[2020-06-23 16:37] futurevessel opened #61 "Mangadex no longer working"
Getting:

ERRO[0000] could not unmarshal chapter XXXXXX: json: cannot unmarshal bool into Go struct field Chapter.long_strip of type int

Using latest version v0.22.4 on Linux 64bit

[2020-06-23 21:23] #61 closed

[2020-06-24 06:27] Girbons commented on #61
Hey @futurevessel is everything ok with this?

[2020-06-30 21:49] bdmorin opened #62 "segfault in pre-built binary and locally compiled."
**Describe the bug**
My 20.04 system throws a segfault when starting to download (it appears). The binary appears to start up fine, then segfaults.

[code]
**To Reproduce**
I've tried with the stock binary and a self-compiled one.

I've tried several urls, this one starts to work, but then fails.
[code]

**Expected behavior**
The URL downloads as expected and packages the download in the requested

[2020-07-01 09:36] Girbons commented on #62
Hey @bdmorin, thanks for reporting this issue, I'll take a look asap!

[2020-07-03 10:02] Girbons commented on #62
@bdmorin seems like `comicextra` has an issue with this comic, chapter's images are not there.

[2020-07-03 10:02] #62 closed

[2020-08-20 19:35] Girbons commented on #56
Hey @TranKovak

 sorry for the delay 🙏, solved in [0.22.5](https://github.com/Girbons/comics-downloader/releases/tag/v0.22.5)!

[2020-08-21 07:17] TranKovak commented on #56
Nice, thank you.

[2020-08-27 13:06] futurevessel opened #63 "Mangadex no longer working, the sequel"
Had this exact problem a couple of months ago, but then it started working again after just a couple of hours which made me remove the issue, now it's been two days where I get this same error message: 'could not unmarshal chapter XXXXXXX: json: cannot unmarshal bool into Go struct field Chapter.long_strip of type int' on everything I try to download on Mangadex.

I use the following command: comi

[2020-08-27 13:15] Girbons commented on #63
Hi @futurevessel,

Thanks for reporting this issue, I'm currently investigating.

[2020-08-27 13:50] Girbons commented on #63
mangadex seems to be offline 😅

[2020-08-27 20:41] futurevessel commented on #63
Heh, yes I just saw that, what are the odds !?

Anyway it seems that it's up again. Should probably have mentioned that I'm on Linux (Arch), anyway, thanks for looking into this and thanks for a great tool!

[2020-08-28 10:00] Girbons commented on #63
There might still be an error in mangadex for some chapters.

Thank you!

[2020-08-30 13:31] Girbons commented on #63
Solved in [v0.23.1](https://github.com/Girbons/comics-downloader/releases/tag/v0.23.1)

[2020-08-30 13:31] #63 closed

[2020-09-03 19:17] jRimbault commented on #56
This is still happening for me on the latest release, sorry :/

[2020-09-04 07:11] Girbons commented on #56
Hi @jRimbault thanks for reporting, I will take a look asap!

[2020-09-04 07:43] #56 closed

[2020-10-12 17:57] inglesuniversal opened #65 "Installation issue Mac OS"
I'm new to GoLang, do I need to install Go on a Mac before running your script?

--> brew install golang

Thanks

[2020-10-12 20:06] Girbons commented on #65
Hi @inglesuniversal,

there's no need to have golang installed to run the scripts that you find here https://github.com/Girbons/comics-downloader#installing 😄.

[2020-10-14 18:03] inglesuniversal commented on #65
Tried it on a Mac and Linux VM and worked like a charm. Thumbs up!

Is there a way to run the script in the remote server using PHP / Node or a simple web integration approach?

Thanks and STAY SAFE

[2020-10-15 08:10] Girbons commented on #65
I'm glad that it worked!

The tool is just a CLI at the moment so you'll have to execute it as command and get the exit code. By the way providing it as web service and expose an API is feasibile, I'll open a ticket and let this issue opened.

Thank you and stay safe!

[2020-10-15 14:12] inglesuniversal commented on #65
WOW... That would be amazing... Making an API for the web. I often use it to allow some English Language Learners to compare the English from old to modern publications. Thanks for your amazing work!!!

[2020-10-16 11:25] Girbons commented on #65
Soon I'll provide a containerized web version 😄

That's really cool!! Thank you, I really appreciate that 🙏

[2020-10-16 14:53] inglesuniversal commented on #65
By the way... first two sites listed have some issues not getting the content whenever is use the command -all ... it will skip some issues and the folder ends up with an empty PDF (about 826 bytes). Any clues?

[2020-10-16 17:42] Girbons commented on #65
I’ll give a check this weekend, thanks for the report.

Could you please open a specific issue for this?

Sent from my iPhone

[2020-10-16 18:16] inglesuniversal opened #66 "bug report: -all command gets only partial content"
tested on linux vm and mac-os, the script refuses to download the complete contents from a given URL.

also, giving a full link causes the download stream to fail, so typically the best approach so far is to provide the base URL of the desired collection  https://domain.com/collection-name-year

most of the files are generated and those unable to be processed end up with an empty PDF file (850 kb

[2020-10-16 18:19] inglesuniversal opened #67 "CLI command to download a range of issues and not -all from a given URL"
Suggested command:

$ ./script-name -url=[URL] -range=[12-22]

Thanks for your awesomeness!!!

[2020-10-19 10:15] Girbons commented on #66
the URL shown in usage might be changed, that's why fails

[2020-10-22 14:59] hakuamesan opened #68 "SIGSEGV: segmentation violation while trying to download"
**Describe the bug**
A clear and concise description of what the bug is.

Perhaps I'm running the command wrong, but I'm trying to download all the chapters of One Piece from Manga Reader.
Even so, I dont think it should SIG fault but rather fail gracefully.

**To Reproduce**
Steps to reproduce the behavior:
Run the cmd version
./comics-downloader -all -url=https://www.mangareader.net/one-piece/

[2020-10-23 07:21] Girbons commented on #68
Hi @hakuamesan thanks for the report, the link you posted returns a 404 not found in my case.

[2020-10-23 07:24] Girbons opened #69 "Introduce health check"
Before the download process start, we should ensure that the source is reachable first. see #68

[2020-10-23 07:51] hakuamesan commented on #68
If the trailing / is removed, it doesnt return a 404. (or a seg fault!)

However, it takes a really long time where it is just waiting at Downloading...    is there a Debug/trace option that I could turn on to check if anything is happening or if it is waiting / processing a large no of links ??   I'm new to go, so i'm just curious.

[2020-10-23 08:57] Girbons commented on #68
But that matters 😄

Actually no, there is not debug option, you'll have to wait because what the script is doing is collecting all the chapters links and it will proceed with the download.

[2020-10-23 09:39] hakuamesan commented on #68
true... I guess I will wait for the debug version :)

Thanks!

[2020-10-23 09:39] #68 closed

[2020-10-23 10:20] hakuamesan commented on #69
I added a quick check  before the downloading part.  Fixes the crash but perhaps it could be improved.

[2020-10-23 10:47] #69 closed

[2020-10-23 14:32] hakuamesan commented on #66
I wasnt able to replicate this error.  Could you give the actual urls that you tried ?

[2020-10-26 08:13] #67 closed

[2020-10-26 09:04] #66 closed

[2020-10-26 09:05] Girbons opened #72 "API Rest"
Expose an API rest

[2020-10-26 09:05] Girbons commented on #65
closing in favor of #72

[2020-10-26 09:05] #65 closed

[2020-10-28 03:15] bashfulrobot opened #73 "v0.26.0 - Ignoring Range and Format"
**Describe the bug**
WHen running a download command, and using the `-format=cbz -range=11-13` options, the output is a PDF, and the entire line of issues.

**To Reproduce**
Run a command such as `./comics-downloader https://readcomiconline.to/Comic/Batman-Superman-2019 -range=11-13 -format=cbz`

**Expected behavior**
Downloads issues 11,12,13 in the CBR format

**Screenshots**
![image](https://us

[2020-10-28 08:27] Girbons commented on #73
Hi @bashfulrobot, thanks for reporting and for providing all these info. I'm going to have a look soon!

[2020-10-28 08:49] Girbons commented on #73
@bashfulrobot this happens when you omit the `-url` flag, also I forgot to update the GUI with the range field.

[2020-10-28 08:50] Girbons opened #74 "Add range field in GUI"
add new `range` field in gui

[2020-10-28 16:44] Girbons commented on #73
it shouldn't be mandatory 😅

[2020-10-30 11:28] Girbons commented on #73
@bashfulrobot `range` must be used along `all` flag, anyway I will force the `all` if range is submitted

[2020-10-30 11:59] #74 closed

[2020-10-30 11:59] #73 closed

[2020-10-30 22:53] bashfulrobot opened #75 "Blank docs"
**Describe the bug**
When downloading, I noticed my cbz file was only 22kb. Seemed small. Ran the same command as a PDF to preview on my computer, blank single white page (was the result).

**To Reproduce**
Steps to reproduce the behavior:

[code]

and

[code]
**Expected behavior**

Readable comics. :-)

**Screenshots**

Showing the empty PDF

![image](https://user-images.githubusercontent.com/107

[2020-10-31 06:43] bashfulrobot opened #76 "New site to support - http://readallcomics.com"
**Is your feature request related to a problem? Please describe.**

Nope. 👍

**Describe the solution you'd like**

I just thought having another source would be a good thing. Suggest  http://readallcomics.com

**Describe alternatives you've considered**

Using the existing supported sites.

**Additional context**

It's just good to have another source in case specific issues are missing.

[2020-10-31 12:15] Girbons commented on #75
It worked for me, there could be an antibot?

![Screenshot 2020-10-31 at 13 13 51](https://user-images.githubusercontent.com/5927088/97778926-f2e53600-1b7a-11eb-9e98-fd63acc05a07.png)

[2020-11-01 22:47] Anedumgottil opened #77 "Download by range not working for https://www.mangatown.com/"
When I try to download by range on mangatown, comics-downloader seems to hang on making the first request.

Is there a debug mode I can pass in for more logs?

[2020-11-02 09:45] Girbons commented on #75
can visit the site manually and see everything. So I don't think there is
anything related to my IP, etc.

something strange is happened then 😄

The progressbar does not appear if you already have these comics downloaded otherwise there's a problem

[2020-11-02 09:48] Girbons commented on #77
There isn't a debug mode yet, anyway be sure to specify the `-all` flag while using `-range`

[2020-11-03 08:01] Girbons commented on #75
It must be it, we can try a delay between one request and another to avoid this

[2020-11-05 15:07] Girbons commented on #75
@bashfulrobot published a [pre-release](https://github.com/Girbons/comics-downloader/releases/tag/v0.27.0-alpha) that with `delay` flag.

[code]
Let me know if this is useful or not 😄

[2020-11-05 15:22] #77 closed

[2020-11-06 11:55] Girbons commented on #75
I'll release a version with debug mode soon so we can see what is happening. About the progressbar I don't know, is weird that it doesn't appear.

[2020-11-06 16:40] Girbons commented on #75
there's an antibot, no issues are collected and that's why the progressbar is not rendered

[2020-11-21 14:41] #75 closed

[2021-04-13 07:05] Girbons commented on #76
Hey @bashfulrobot,

sorry for the late response, I'm working on this, it should be available soon!

[2021-04-16 16:33] kavishgr opened #79 "Error: This site is not supported"
I ran the following command:

[code]

**the result**:

[code]

I'm not sure if I'm using the right syntax. Am I missing something ?

[2021-04-16 17:21] Girbons commented on #79
Hi @kavishgr,

The command is fine, I see that the domain is changed from `.to` to `.li` as you see [here](https://github.com/Girbons/comics-downloader/blob/master/pkg/detector/detector.go#L9#L17).

I'm going to ship a fix or if you want to contribute, feel free, PRs are welcome :D

[2021-04-16 18:02] kavishgr commented on #79
Done 👍

[2021-04-16 18:02] #79 closed

[2021-04-16 18:45] Girbons commented on #79
Thanks @kavishgr, I'm preparing the new release!

[2021-04-19 06:00] ChiefNiloc opened #82 "Windows GUI link broken"
The link to the GUI for Windows is broken.

[2021-04-19 07:11] Girbons commented on #82
Hi @ChiefNiloc,

the link for the windows gui has been restored, let me know if it works!

[2021-04-19 07:11] #82 closed

[2021-04-19 07:17] ChiefNiloc commented on #82
All good now, thank you!

[2021-04-20 10:34] Girbons commented on #76
@bashfulrobot available in the latest version :)

[2021-04-20 10:34] #76 closed

[2021-04-27 17:20] begss opened #83 "Segfault if no url parameter given"
[code]

[2021-04-27 18:44] Girbons commented on #83
Hi @begss,

thanks for reporting, I'll release a fix soon!

[2021-04-28 09:06] #83 closed

[2021-04-28 14:21] begss commented on #83
Thanks

[2021-06-14 17:20] mardab opened #84 "Re-enable Mangadex"
In recent versions, application has been hard-coded to refuse Mangadex URLs. As I understands this has to do with a bug to be solved before support for that website can be re-enabled.

Since there was no issue for tracking progress on that, now you have one here.

[2021-06-14 20:45] Girbons commented on #84
Hi @mardab,

thanks for the reminder I will re-enable mangadex asap 😄

[2021-06-15 07:58] mardab commented on #84
No problem @Girbons , just make sure to keep track of issues with this issue tracker.

[2021-06-18 14:12] mardab commented on #84
@Girbons Is there any ETA or TODO on re-enabling MangaDex support at all?

[2021-06-18 14:48] Girbons commented on #84
@mardab Sadly, there's no ETA as of now, I'm in between other things and I really don't have time to work on this (it isn't just a bool change I think, as mangadex was working on a new API if I remember correctly).
You're free to submit a PR if you want to 😄

[2021-06-22 19:38] Girbons commented on #84
https://github.com/bake/mangadex/issues/8

[2021-07-01 02:46] kshunterco opened #85 "PDF Options"
Hi

Thank you for this nice code. Works great as long as there isn't a CAPTCHA on the other end 🤣

I am wondering if you would be OK with two changes:

- An additional option for PDF enabling selection of A4 or Letter sizing
- A revision to the pdf.Image() call that would cause gofpdf render the image with original aspect ratio rather than forcing to the A4 aspect. As far as I can tell (I could ve

[2021-07-01 03:07] kshunterco commented on #85
Hahahahaha well gee wiz the simple fix didn't work. Looks like it would require pdf.AddPageFormat() with specific orientations. This is getting more complex, but it's still fun. I'll see what I can do before you get back to me.

[2021-07-01 17:25] kshunterco commented on #85
This can be closed. I created a pull request... More details there.

[2021-07-01 17:25] #85 closed

[2021-07-08 18:06] kshunterco opened #87 "EOF Errors"
**Is your feature request related to a problem? Please describe.**
Hey, being new to downloading comics with this code, it's frequently useful to use the -all switch. However when I do that with large (>100 issue) collections I often get a run-ending error like this:
`time="2021-07-07T20:10:38-06:00" level=error msg=EOF`
I believe - but am not sure - this occurs in `func download`, specifically in

[2021-07-13 21:26] kshunterco commented on #87
Thanks @Girbons, I'm on vacation (good time to play with golang) but the internet is poor (bad time to use a bot LOL)... I'll look into the possibilities later in the summer and report back.

[2021-07-15 15:04] Girbons commented on #87
@kshunterco don't worry, enjoy your vacation 😄

[2021-07-31 22:42] Tamalero opened #88 "File correctly saved, files are malformed of 1Kb size"
**Describe the bug**
When using this tool to download more than 2 comics at a time from readcomicsonline.il
The files are downloaded too fast and I suspect I'm getting blocked from readcomicsonline. As all files start coming as size 1Kb
Adding a delay does not seem to resolve the issue.

**To Reproduce**

used F:\Download\Windows 10\ComicDownloader>comic-dl.exe -all -format cbr -timeout 3000 -url

[2021-08-12 08:38] Girbons commented on #88
Hey @Tamalero,

are you still facing this issue? I tried this morning and everything was fine.

Yeah, delay is not intended to be used in that way, it works only when the downloader run as daemon, I have to improve the readme and the help text because it is misleading.

[2021-08-12 21:17] Tamalero commented on #88
Heya!
Still having some problem with some files. In this case Strange Academy 1 to 4. I still get a comic with the file size of 1Kb. The rest download fine (5-11)
I'm not sure if it has to do with my internet speed (200Mbps fiber ) or the cookies.. or what..

URL to comics: https://readcomiconline.li/Comic/Strange-Academy

After that...I tried with https://readcomiconline.li/Comic/Rocket-Raccoon-2

[2021-08-23 14:10] Girbons commented on #88
Ok I'll try to provide a workaround

[2021-09-01 14:01] mikebell opened #89 "Change behaviour of -output to not prepend any folders"
When I use the `-output` flag I expected the files to be downloaded into the directory specified.

[code]

I get the following :

[code]

The documentation doesn't mention this behaviour. Is there an option not to prepend with folders?

[2021-09-02 09:00] Girbons commented on #89
Hi @mikebell,

`comics/$source/$name` is the default folder structure that is being created and there's no way to avoid this by using an option.

I will edit the README to mention this behaviour.

[2021-09-16 10:26] Girbons commented on #89
Hey @mikebell,

After a while of thinking, I've decided to take into consideration your proposal, soon there will be a new release.

[2021-09-17 10:16] #89 closed

[2021-09-24 10:27] billsargent opened #92 "Segmentation fault"
I downloaded the linux build directly from github and this is the error I get on Ubuntu.  I built the binary myself and it says the same thing.

[code]

[2021-09-24 14:53] Girbons commented on #92
Hi @billsargent,

Seems like mangatown changed the html structure, I'll try to provide a fix asap!

[2021-09-25 11:00] billsargent commented on #92
I didn't even think to try it on another site. My apologies. -- I got your program just to try to get a single manga and when it failed with a segfault, I just assumed something more serious was wrong or that I was missing something needed to run. Thanks for your quick response!

[2021-09-26 12:16] Girbons commented on #92
Don't worry!
I noticed now the url you used, downloading a lists is not supported.

[2021-09-28 01:47] Mycah opened #93 "segmentation violation trying to use chapter url instead of manga url"
**Describe the bug**
Downloading single issues with issue links does not work with the new sites (mangakakalot.com/readmanganato.com)

**To Reproduce**
./comics-downloader -url=https://readmanganato.com/manga-ao977497/chapter-1
or
./comics-downloader -url=https://mangakakalot.com/chapter/jb925486/chapter_22

**Expected behavior**
Issue download

**Screenshots**
INFO[0000] Downloading...
panic: run

[2021-10-02 04:13] Mycah opened #94 "Range option ignores non integers"
**Describe the bug**
Running the application with a range ignores all non-integer numbers.  Using integers in the range command causes an error.

**To Reproduce**
`comics-downloader -url=https://mangakakalot.com/manga/qf926960 -range=20-21 -format=cbz`
skips chapter 20.5

`comics-downloader -url=https://mangakakalot.com/manga/qf926960 -range=20.5-20.5 -format=cbz`

returns:

[code]

**Expected beh

[2021-10-11 23:43] wooosh opened #99 "All formats broken, unless images-only is used first"
**Describe the bug**
Any option/format on every host I've tried will produce an empty folder, unless I call comics-downloader once with image-only, then call it again with the desired format.

**To Reproduce**
[code]

**Expected behavior**
The cbz should be able to be created without running a command separately to download the images first, which worked in the last stable release.

**Desktop (ple

[2021-10-12 17:31] #87 closed

[2021-10-15 13:02] DyeffersonAz opened #100 "Supporting "hqdragon""
[HQ Dragon](https://hqdragon.com) is a popular Brazilian comic book reading website that has no option for downloading comics. It'd be amazing if this software could download from this one, too.

[2021-10-16 19:34] CNB-DarksGol opened #101 "Path Download"
Hi, I'm doing a project that would need to download the images, but I didn't quite understand the path you used to download them, could you inform me and/or help me?

[2021-10-17 10:17] Girbons commented on #101
Hi @CNB-DarksGol,

by default the path used is `comics/[source]/[name]/images-[(chapter/issue)-number]` but you can play with more options to customize the path, take a look at the readme.

if you have more questions reach me out on discord Girbons#7233

[2021-10-18 09:51] #101 closed

[2021-10-18 18:05] anjandev opened #103 "Improve Makefile to automatically detect arch"
I want to package this program for alpine linux. Currently, I have to make a new apkbuild for each architecture. It would be best if the makefile automatically detected the architecture atleast on linux:

https://stackoverflow.com/questions/36628165/gnu-makefile-detect-architecture

[2022-01-17 15:12] futurevessel opened #106 "Mangadex no longer works"
Tried to download from Mangadex, using:

comics-downloader -url ...
comics-downloader -format cbz -url ...

Both claimed successful download and created corresponding files, but they are empty

[2022-01-30 10:17] Girbons commented on #106
Hey @futurevessel thanks for reporting, I'll try to take a look!

[2022-01-30 10:19] #103 closed

[2022-01-30 10:19] #99 closed

[2022-02-03 01:24] DyeffersonAz opened #107 "Issue 0 returns an error."
**Describe the bug**
Downloading issue 0 from range returns an error.

**To Reproduce**
Try downloading with "range" the issue #0 of any volume.

**Screenshots**
![Screenshot](https://i.imgur.com/e7pyzo6.png)

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Version v0.32.1
 - Type: Command-line

[2022-02-06 11:46] #107 closed

[2022-02-06 11:47] #106 closed

[2022-04-14 08:00] Getty-13 opened #110 "readcomiconline.il not working"
**Describe the bug**
Any links from https://readcomiconline.li come back as "No Issues Found"

If I enter the URL for a specific issue for readcomiconline.li it saves a pdf less than 1mb in less than a second that is blank.

**To Reproduce**
Steps to reproduce the behavior: putting any links from readcomiconline.li in the url string

![image](https://user-images.githubusercontent.com/55208935/1633

[2022-04-23 10:16] futurevessel opened #111 "MangaTown is no longer working"
comics-downloader -format cbz -url chapter

returns: [0s:0s]ERRO[0001] image: unknown format

edit: mangakakalot & manganato seem to have the same problem

[2022-04-25 09:33] Girbons commented on #111
Hey @futurevessel thanks for the report, I'm gong to tackle it in the next few days!

[2022-04-25 09:38] Girbons commented on #110
Hey @Getty-13,

reacomiconline has introduced cloudflare as ddos protection a couple of months ago I think, another user have reported this issue, sadly I don't have a workaround yet

[2022-04-25 18:37] jestraw commented on #111
Debug log isn't particularly revealing:

`$ comics-downloader -debug -images-only -url 'http://www.mangatown.com/manga/chihayafuru/c244/'
INFO[0000] Downloading...
DEBU[0017] Image Links found: https://zjcdn.mangahere.org/store/manga/6624/244.0/compressed/s001.jpg https://zjcdn.mangahere.org/store/manga/6624/244.0/compressed/s002.jpg https://zjcdn.mangahere.org/store/manga/6624/244.0/compressed/s0

[2022-04-26 09:50] Girbons commented on #111
Might be related to -> https://github.com/Girbons/comics-downloader/commit/85bc2a676a31c7bb3b6c2bcdd0c000606102af16#r70352440

I'm going to release an alpha with this patch, please let me know if it works 🙏

[2022-04-26 10:00] Girbons commented on #111
@futurevessel @jestraw could you please try it out https://github.com/Girbons/comics-downloader/releases/tag/v0.33.1-alpha ?

[2022-04-27 03:37] futurevessel commented on #111
Yep, tried downloading from all three sites and everything seems to work fine, thanks!

[2022-04-27 08:01] Girbons commented on #111
Thank you guys 😄

[2022-04-27 08:01] #111 closed

[2022-05-17 13:34] MattiasStorm opened #112 "One failed issue creates strange subfolders"
**Describe the bug**
I downloaded Sonic the Hedgehog from comicextra. I tried to download all issues and when it hit issue 258 it threw the "image: unknown format" error. Looking at that specific issue shows that the images are broken, so it is not due to Comics Downloader. However, after it failed that issue, Comics Downloader started making a subfolder inside the failed issue to download the res

[2022-05-17 17:36] MattiasStorm commented on #112
Had the same problem again, this time with a comic where 4 issues had problems with the image format:
![image](https://user-images.githubusercontent.com/29437966/168875536-e09dd49f-bc5b-4dde-9f3a-472b063c9966.png)

[code]

[2022-05-20 08:06] Girbons commented on #112
Hi @MattiasStorm!

Thanks for reporting this issue, indeed it is really weird that it creates this nesting when an image download fail, I'm going to provide a fix for this weekend!

[2022-05-22 09:46] #112 closed

[2022-06-26 20:29] igorrates opened #113 "Can't use flag -all on readallcomics.com"
**Describe the bug**
I'm trying to download all issues at once from readallcomics.com and is throwing an exception running from mac terminal.

**To Reproduce**
` ./comics-downloader-osx -url=http://readallcomics.com/category/spider-manred-sonja/ -all -format=cbr `

` INFO[0000] Downloading... `
`panic: runtime error: invalid memory address or nil pointer dereference`
`[signal SIGSEGV: segmentation

[2022-06-27 08:35] Girbons commented on #113
Hi @igorrates, thanks for reporting this issue!

 seems like that the scraper logic needs an update, I will take a look asap!

[2022-06-28 01:24] igorrates commented on #110
Maybe we can try changing the support to the Russian domain... it should work since the website is pretty much the same
https://readcomicsonline.ru/

[2022-06-28 09:14] Girbons commented on #110
Thank you for the suggestion @igorrates!

 If it is just a domain change it should be a straightforward change, by the end of the week I'll try to plan a new release.
By the way if you want feel free to submit PR 😄

[2022-06-28 10:15] igorrates commented on #110
I'm planning to get the project set up and running on my machine, but I know nothing about the Go language. I have always been a dotnet / JavaScript developer. I need to learn Go 😀 so I can start supporting the project.

As soon as I get this running and able to test locally I'll submit a PR. 😉

[2022-07-03 15:01] Girbons commented on #113
I can't provide a fix, readallcomics is broken

[2022-07-17 15:16] StrangeDOS commented on #110
Just adding that I'm also wanting to use the readcomiconline.il or readcomiconline.ru site and can't.

[2022-07-17 15:48] StrangeDOS opened #114 "Parts is Parts"
**Describe the bug**
If downloading a comic that has books titled with (part1) (part2) and so on, the tool will download all the images but it only creates one of the books.

**To Reproduce**
comics-downloader.exe -url http://readallcomics.com/avengers-doctor-strange-rise-of-the-darkhold-tpb-part-1/ -format cbz -all

**Expected behavior**
Download all images for all 5 books and create CBZ files.

[2022-07-30 21:45] ObiSandwich commented on #110
Is there any news on this one please? I've had a break from comics for a few months and just found out readcomiconline.il not working :(

[2022-07-31 10:10] ObiSandwich opened #115 "Low image resolution output"
Linux LMDE4
v0.33.2 CLI

I am new here and thank you for creating this very clever script - I prefer uncompressed and higher resolution images to help reading when zooming-in. So not sure if I am missing something, but the default "image only" and "cbz" output is a lower image resolution than the source. Is there a way to download the higher/original image resolution please? Is there a High/Max Qu

[2022-07-31 10:27] Girbons commented on #110
Sorry but currently I can't provide any fix, hopefully, in 2/3 weeks I'm going to work again on this project.

[2022-07-31 10:38] Girbons commented on #115
Right now there isn't an argument to decide the image resolution, but I will plan some work on it

[2022-07-31 10:41] ObiSandwich commented on #115
Great! Thank you very much :)

[2022-08-16 19:22] osamasaleem94 opened #116 "GUI .exe fails to open, citing lack of permission"
**Describe the bug**
GUI executable fails to open with the error _WIndows cannot access the specified device, path or file. You may not have the appropriate permissions to access the item. _

**To Reproduce**
Download the latest GUI and open the .exe

**Expected behavior**
The GUI application should open normally

**Screenshots**

![Error](https://user-images.githubusercontent.com/89804432/1849638

[2022-08-16 20:41] Girbons commented on #116
Hi @osamasaleem94

I've never seen this before, do you have an antivirus running? I'm thinking that It may have blocked the execution

[2022-08-16 20:59] #110 closed

[2022-08-16 20:59] #113 closed

[2022-08-16 20:59] #114 closed

[2022-08-16 20:59] #115 closed

[2022-08-17 07:42] osamasaleem94 commented on #116
Hey, thanks for the response. And yes, I use Windows Defender. I disabled it completely before trying to open the program when I got the error. Still no luck.

[2022-08-17 19:12] Girbons commented on #116
Have you already tried to redownload the executable with antivirus and windows defender disabled?

[2022-08-20 23:00] ObiSandwich opened #117 "readcomiconline.li not happy"
OS: Linux LMDE4
v0.33.3

Strugling to get script working with: **readcomiconline.li** - But I have been able to get it to work with: **comicextra.com** and **readallcomics.com** The reason I want it to work with **readcomiconline.li** is because there are some comics on there that are not available elsewhere.

Running the command below, just gives me empty and corrupt cbz files. Please could you l

[2022-08-21 08:18] Girbons commented on #117
Following the issue #110 Have you tried using the ".ru" domain? Because if I remember correctly readcomiconline.li has cloudflare has ddos protection

[2022-08-21 08:35] ObiSandwich commented on #117
Yep, I get...

[code]
(test comic above not available on .ru so tried this one instead)

`./comics-downloader -all -format=cbz -url=https://readcomicsonline.ru/comic/bobs-burgers-2015`

Also tried the following with the same error;

`./comics-downloader -all -format=cbz -url=https://readcomicsonline.ru/comic/spiderman-legends-todd-mcfarlane-20032004`

Was **readcomiconline.ru** added to v0.33.3 ?

[2022-08-21 09:30] Girbons commented on #117
I did a quick check and realized that it was partly added, I will ship a fix soon for that!

[2022-08-21 09:38] ObiSandwich commented on #117
Thank you. There is a subtle difference in the two website addresses and I'm not sure if they are the same people behind the sites - don't forget the 's' in: readcomicsonline.ru :)

[2022-08-21 18:22] Girbons commented on #117
@ObiSandwich  here's a [pre-release](https://github.com/Girbons/comics-downloader/releases/tag/v0.33.4-alpha) with a possible fix, could you please try it out? I'm also planning to add a check that logs if the captcha appears

[2022-08-21 20:35] ObiSandwich commented on #117
Thanks, but same outcome I'm afraid.

Got lots of different text below the command this time around and ended up with the error below;

`./comics-downloader -all -format=cbz -url=https://readcomiconline.li/Comic/Spider-Man-1990`

[code]

Also tried a **readcomicsonline.ru** test;

`./comics-downloader -all -format=cbz -url=./comics-downloader -all -format=cbz -url=https://readcomicsonline.ru/comic

[2022-08-22 03:13] kshunterco opened #118 "Bad Issue # for readallcomics URLs with trailing year"
Hey, back after a year or so away. Nice updates!

**Describe the bug**
When I try to get a comic that has a year at the end of its URL from readallcomics, it believes the year is the issue #, and downloads all the comics to the same output file (overwriting in series). So... not desired behavior.

**To Reproduce**
Steps to reproduce the behavior:
`./downloader.exe -url http://readallcomics.com/cat

[2022-08-22 09:02] Girbons commented on #118
Hey @kshunterco nice to hear from you! 😄

Yeah, the current approach doesn't work sometimes, I realized that this week when I started to work again on this project.

You know that any contributions is really appreciated 🚀 but if you don't have the time don't worry!

Instead of introducing a new cli option I have 2 ideas that come to my mind:

* check if the issue number can be extracted otherwise

[2022-08-22 09:05] Girbons commented on #117
Really sorry, I left some debugging print text 😄

In the next days I will investigate if there's something that allows the captcha bypass

[2022-08-22 20:00] kshunterco commented on #118
Thanks @Girbons, good to be back! Sounds like you were away for a while too? Sometimes that can really help.

I like the second idea - the join. I have readallcomics.go opened up in vi right now, I will make that change to my version, seems like this should happen in all the sites code. I'll see what I can do, if it happens soon I'll fork and submit a pull request.

Best,
Kendall

[2022-09-01 23:39] koppot opened #119 "v0.33.4-alpha readmanganato.com empty folder"
Got it working on CLI -images-only -images-format=png

[2022-09-02 00:35] #119 closed

[2022-09-16 17:48] Girbons commented on #118
Yep it really did help!

Cool! Thank you @kshunterco

[2022-09-16 17:52] Girbons commented on #117
Sorry for being late, I didn't find something that could solve this issue yet.
If I have time this weekend I'll try to see if there's a possible workaround that could be used

[2022-09-16 17:52] Girbons commented on #116
closing due to inactivity

[2022-09-16 17:52] #116 closed

[2022-09-30 15:47] zeromero-dev opened #120 "Cannot launch on Manjaro Linux"
**Describe the bug**
It can't launch on Manjaro Linux.

**To Reproduce**
Download any of comic-downloader realeses for Linux.
run ```./comic-downloader```

**Expected behavior**
The error of no providing of URL or suggestion to use ```--help```

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: ManjaroLinux

[2022-09-30 23:53] pushrbx opened #121 "Runtime error: invalid memory address or nil pointer dereference"
**Describe the bug**
App crashes with the following when I try to download `Tensei Shitara Slime Datta Ken` from `manganato`:
[code]
**To Reproduce**
Steps to reproduce the behavior:
Run the following on windows in a Powershell 6 terminal:
[code]

**Expected behavior**
It should either start downloading properly, or state the problem what went wrong with a clear error message.

**Desktop**
 - OS:

[2022-10-12 02:30] kshunterco commented on #118
Hey. I'm slammed at work. I will get to this eventually. Sorry.

[2022-11-09 00:18] LegalizeAdulthood commented on #117
OK this may sound like a completely dumb idea, but it's a very different approach from what has been tried already....

what about writing an http proxy that sits between the browser and the remote site that just dumps any images requested by the browser and drive the browser with a GUI automation tool like [AutoIt on Windows](https://www.autoitscript.com/site/)?

[2022-11-16 12:58] Girbons commented on #117
@LegalizeAdulthood this is an interesting idea!

The problem is that currently I dont have the time to implement this solution